@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .masonry-lg {
    column-gap: 1.5em;
    column-count: 2;
  }

  .break-inside {
    break-inside: avoid;
  }
}

.description {
  @apply font-interTight text-lg flex flex-col;
}

.input {
  @apply w-full pt-[17px] pb-[14px] px-7 bg-nero rounded-lr mb-2.5;
}

.button-all {
  @apply uppercase text-xl font-interTight text-black-russian flex items-center justify-center border-1 w-full rounded-lr font-medium py-[7px];
}

.project-title {
  @apply text-xl tracking-tight pb-2.5 border-b inline-block mt-7;
}

.trans-default {
  @apply duration-100 transition-all ease-in;
}

.dot-white {
  @apply bg-black-russian rounded-full w-[4px] h-[4px] mr-[5px];
}

.dot-black {
  @apply bg-white rounded-full w-[4px] h-[4px] mr-[5px];
}

.button-round {
  @apply rounded-full w-[37px] h-[37px] flex flex-col justify-center items-center text-white;
}

.container {
  @apply max-w-[1920px] w-full mx-auto px-3.8;
}

.transition {
  @apply transition-all duration-300 ease-in-out;
}

/* .swiper-slide {
  @apply !w-auto;
} */

/* .swiper-button-lock {
  @apply !block;
} */

.briefInput {
  @apply py-3 px-5 w-full border border-link-water rounded-5xl;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.richText {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}
.richText p {
  margin-bottom: 15px;
}
.richText ul li {
  list-style-type: disc;
}

.richText ol,
.richText ul {
  display: block;
  list-style-type: decimal;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  margin-bottom: 15px;
}

.markDown p {
  @apply leading-4 pb-3;
}
/*xl:w-1/2*/

.markDown h1 {
  @apply text-xl pb-[21px] leading-6.3;
}

.opacityMarkdown p {
  @apply opacity-70;
}

.swiper-pagination-bullet {
  background: #f9f9f9 !important;
}

.swiper-pagination-bullet-active {
  background: #0000ff !important;
}

.videoGalery .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.videoGalery .swiper-slide-thumb-active {
  opacity: 1;
}

@media (max-width: 320px) {
  .titleAbout {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 321px) and (max-width: 340px) {
  .titleAbout {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: 341px) and (max-width: 360px) {
  .titleAbout {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (min-width: 361px) and (max-width: 385px) {
  .titleAbout {
    font-size: 32px;
    line-height: 32px;
  }
}
@media (min-width: 386px) and (max-width: 420px) {
  .titleAbout {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 421px) and (max-width: 480px) {
  .titleAbout {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 481px) and (max-width: 520px) {
  .titleAbout {
    font-size: 46px;
    line-height: 46px;
  }
}
@media (min-width: 521px) and (max-width: 580px) {
  .titleAbout {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (min-width: 581px) and (max-width: 640px) {
  .titleAbout {
    font-size: 56px;
    line-height: 56px;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  .titleAbout {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .markDown p {
    font-size: 1.25rem;
  }
  .titleAbout {
    font-size: 64px;
    line-height: 64px;
  }
}
@media (min-width: 1024px) {
  .titleAbout {
    font-size: 90px;
    line-height: 90px;
  }
  a > .container {
    padding-left: 5.25rem;
    padding-right: 5.25rem;
  }
  .briefInput {
    max-width: 422px;
    padding-bottom: 0.95rem;
    padding-top: 0.95rem;
  }
  .container {
    padding-left: 86px;
    padding-right: 86px;
  }
}
@media (min-width: 1024px) and (max-width: 1060px) {
  .titleAbout {
    font-size: 86px;
    line-height: 86px;
  }
}

@media (min-width: 1280px) and (max-width: 1300px) {
  .titleAbout {
    font-size: 66px;
    line-height: 66px;
  }
}
@media (min-width: 1301px) and (max-width: 1340px) {
  .titleAbout {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (min-width: 1341px) and (max-width: 1380px) {
  .titleAbout {
    font-size: 74px;
    line-height: 74px;
  }
}
@media (min-width: 1381px) and (max-width: 1480px) {
  .titleAbout {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (max-width: 1279px) {
  .footerNav {
    padding-left: 0px !important;
  }
}
@media (min-width: 1280px) {
  .footerNavBorderBlack {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footerNavBorderWhite {
    border-left: 1px solid rgba(31, 31, 32, 0.1);
    border-right: 1px solid rgba(31, 31, 32, 0.1);
  }
}
