@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter Tight";
  src: url("../public/fonts/InterTight-Regular.woff2");
}

@layer utilities {
  .masonry-lg {
    column-gap: 1.5em;
    column-count: 2;
  }

  .break-inside {
    break-inside: avoid;
  }
}

.description {
  @apply font-interTight text-lg flex flex-col;
}

.input {
  @apply w-full pt-[17px] pb-[14px] px-7 bg-nero rounded-lr mb-2.5;
}

.button-all {
  @apply uppercase text-xl font-interTight text-black-russian flex items-center justify-center border-1 w-full rounded-lr font-medium py-[7px];
}

.project-title {
  @apply text-xl tracking-tight pb-2.5 border-b inline-block mt-7;
}

.trans-default {
  @apply duration-100 transition-all ease-in;
}

.dot-white {
  @apply bg-black-russian rounded-full w-[4px] h-[4px] mr-[5px];
}

.dot-black {
  @apply bg-white rounded-full w-[4px] h-[4px] mr-[5px];
}

.button-round {
  @apply rounded-full w-[37px] h-[37px] flex flex-col justify-center items-center text-white;
}

.container {
  @apply max-w-[1920px] w-full mx-auto px-3.8;
}

.transition {
  @apply transition-all duration-300 ease-in-out;
}

/* .swiper-slide {
  @apply !w-auto;
} */

/* .swiper-button-lock {
  @apply !block;
} */

.briefInput {
  @apply py-3 px-5 w-full border border-link-water rounded-5xl;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.richText p {
  margin-bottom: 15px;
}
.richText ul li {
  list-style-type: circle;

  margin-left: 35px;
}

.richText ul {
  margin-bottom: 15px;
}

.markDown p {
  @apply leading-4 pb-3;
}
/*xl:w-1/2*/

.markDown h1 {
  @apply text-xl pb-[21px] leading-6.3;
}

.opacityMarkdown p {
  @apply opacity-70;
}

.swiper-pagination-bullet {
  background: #f9f9f9 !important;
}

.swiper-pagination-bullet-active {
  background: #0000ff !important;
}

.videoGalery .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.videoGalery .swiper-slide-thumb-active {
  opacity: 1;
}
@media (min-width: 320px) and (max-width: 380px) {
  .titleAbout {
    font-size: 1.75rem;
  }
}
@media (min-width: 381px) and (max-width: 480px) {
  .titleAbout {
    font-size: 2.1rem;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .titleAbout {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  .markDown p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) {
  a .container {
    padding-left: 5.25rem;
    padding-right: 5.25rem;
  }
  .briefInput {
    max-width: 422px;
    padding-bottom: 0.95rem;
    padding-top: 0.95rem;
  }
}
